# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Archivos de IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.factorypath
.settings
.sts4-cache
.springBeans
.bin
.lock
# Maven
target/

# Gradle
.gradle/
build/
*.lock
*.bin

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
*.log

# Java
*.class

# Archivos temporales
*.env
*.bak
*.tmp
*.swp
*.swo
*.~undo-tree~

# Otros binarios
bin/
out/
