name: Java CI with Gradle and SonarCloud

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write  # Necesario para el escaneo con SonarCloud

    steps:
      - name: Checkout c贸digo
        uses: actions/checkout@v4

      - name: Dar permisos de ejecuci贸n al Gradle Wrapper
        run: chmod +x gradlew

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3  # Usa la versi贸n estable m谩s reciente


      - name: Build with Gradle
        run: ./gradlew clean build


      #  SonarCloud Setup corregido
      - name: Set up SonarCloud
        uses: SonarSource/sonarcloud-github-action@v2.1
        env:
          SONAR_TOKEN: "1bcc5c902b3f4253bcc216d52cbf86b53a186413"
        with:
          organization: julian022

      - name: Build and analyze with SonarCloud
        run: |
          ./gradlew clean build sonarqube \
            -Dsonar.projectKey=your_project_key \
            -Dsonar.organization=julian022 \
            -Dsonar.host.url=https://sonarcloud.io

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout c贸digo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v3  # Usa la versi贸n estable m谩s reciente
