name: Java CI with Gradle and SonarCloud

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write  # Necesario para el escaneo con SonarCloud

    steps:
      - name: Checkout c칩digo
        uses: actions/checkout@v4

      - name: Dar permisos de ejecuci칩n al Gradle Wrapper
        run: chmod +x gradlew

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3  # Usa la versi칩n estable m치s reciente

      - name: Build with Gradle
        run: ./gradlew clean build

      # SonarCloud Setup
      - name: Set up SonarCloud
        uses: SonarSource/sonarcloud-github-action@v2.1
        with:
          organization: "julian022"  # Nombre de usuario en SonarCloud
          token: "1bcc5c902b3f4253bcc216d52cbf86b53a186413"  # Token en texto plano 

      - name: Build and analyze with SonarCloud
        run: |
          ./
